/*------------------Header-------------------*/
* {
    box-sizing: border-box;
}

#uppictures {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.dropdown-item {
    font-size: 15px;
    width: 80%;
}
.dropdown-item {
    font-size: 15px;
    padding-left: 5px;
    margin-left: 10px;
}

#header .menu {
    width: 200px;
}

.dropdownHr {
    margin: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link{
font-size: 1rem;
}

.navbar-nav li:nth-child(3) .nav-link{
    padding-bottom: 3px;
}

.navbar-nav li:nth-child(4) .nav-link{
    padding-top: 3px;
}
.navbar-nav li:nth-child(6) .nav-link{
    padding-top: 0;
}
    

h5{
    font-size: 1.25rem;
}
/*------------------/Header-------------------*/

#logo{
    width: 5%;
    margin: 0;
    display: flex;
}

.navText li a{
    font-size: large;
}

@media screen and (max-width: 1030px){
    #logo{
        width: 7%;
        margin: 0;
    }
}

@media screen and (max-width: 880px){
    #logo{
        width: 7%;
        margin: 0;
    }
}

@media screen and (max-width: 768px){
    #logo{
        width: 10%;
        margin: 0;
    }
}

@media screen and (max-width: 540px){
    #logo{
        width: 13%;
        margin: 0;
    }
}

@media screen and (max-width: 420px){
    #logo{
        width: 17%;
        margin: 0;
    }
}




/* Profile Picture */
.profile-pic{
    display: inline-block;
    vertical-align: middle;
     width: 40px;
     height: 40px;
     overflow: hidden;
    border-radius: 50%;
 }
  
 .profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
 }
 .profile-menu .dropdown-menu {
   right: 0;
   left: unset;
 }
 .profile-menu .fa-fw {
   margin-right: 10px;
 }
  
 .toggle-change::after {
   border-top: 0;
   border-bottom: 0.3em solid;
 }
