.motorGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.mCard {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 300px;
    width: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.list-group-item {
    padding: 10px;
    border: 1px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.btn-outline-secondary {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    background-color: #ddd;
    color: #333;
}

div.card{
    height: 500px;
}


@media screen and (max-width: 576px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 578px) and (max-width: 999px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1401px) and (max-width: 2000px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

.form-check-reverse {
    text-align: start;
}

.img{
    width: 100%; /* A kártya teljes szélességét kitölti */
    max-width: 280px; /* Maximális szélesség beállítása */
    height: 200px; /* Fix magasság */
    object-fit: contain; /* Megőrzi az arányokat, nem vágja le a széleket */
    display: block;
    margin: 0 auto; /* Középre igazítás */
    padding: 10px; /* Kis térköz a kép körül */
}
    


.custom-date-range {
    display: flex;
    justify-content: center; 
    gap: 1rem; 
    align-items: center; 
}


.custom-date-range input[type="date"] {
    width: auto; 
    min-width: 150px; 
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease-in-out;
}


.custom-date-range input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}


.custom-date-range span {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
    margin-right: 0.3rem; 
}


@media (max-width: 768px) {
    .custom-date-range {
        text-align: left;
        
        
    }
    .btn {
        width: 30%;
    }
}


