.motorGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.mCard {
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.list-group-item {
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.btn-outline-secondary {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-outline-secondary:hover {
    background-color: #ddd;
    color: #333;
}


@media screen and (max-width: 576px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 578px) and (max-width: 999px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1401px) and (max-width: 2000px) {
    .motorGrid {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

.form-check-reverse {
    text-align: start;
}