#Ssize select{
    margin-right: 5px;
}
#Rsize select{
    margin-right: 5px;
}

#Ssize{
    display: flex;
    justify-content: space-evenly;
}

#Rsize{
    display: flex;
    justify-content: space-evenly;
}