#LoansUser{
    font-size: large;
}
#EditBtn{
    border-radius: 5px;
    border: 3px rgb(82, 3, 3);
    background-color: rgb(33, 34, 32);
    color: white;
}
.menu-container {
    width: 120%;
    max-height: 495px; 
    overflow-y: auto; 
    border: 2px solid #ccc;
    padding: 10px; 
    box-sizing: border-box;
}
.menu-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.menu-item:last-child {
    border-bottom: none;
}

.user-profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.profile-header {
    text-align: left;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #ccc;
    font-size: large;
}

.user-data-section, .license-images-section {
    margin-bottom: 30px;
    margin-right: 30px;
}

.section-title {
    margin-top: 0;
}

.user-info-list {
    list-style: none;
    padding: 0;
}

.info-item {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-around;
}

.license-image {
    width: 45%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
